
[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'offlineimap'
ExecStartPost=/bin/sh -c 'NOTMUCH_CONFIG=$HOME/.config/notmuch/notmuch.conf notmuch new'

[Install]
WantedBy=default.target
