/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2326FF;
    background-alt: #272E33FF;
    foreground:     #D3C6AAFF;
    selected:       #A7C080FF;
    active:         #DBBC7FFF;
    urgent:         #E67E80FF;
}
