
* {
    background:     #000000D2;
    background-alt: #384b55FF;
    foreground:     #D3C6AAFF;
    foreground-alt: #D3C6AAFF;
    selected:       #384b55FF;
    active:         #DBBC7FFF;
    urgent:         #E67E80FF;
}
