## Semicolon-separated list of command to execute upon sioyek startup
startup_commands    toggle_custom_color; toggle_statusbar; fit_to_page_height

## Background color to use when executing `toggle_custom_color`
custom_background_color 0.102 0.094 0.110
## Text color to use when executing `toggle_custom_color`
custom_text_color 0.827 0.776 0.667

